.main-container {
    height: 100vh;
    width: clamp(36rem, 56.2rem, 100%);
    background-color: #F5F6FC;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content__input {
    width: 100%;
    height: 6.7rem;
    background-color: #F5F6FC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.1rem;
    padding-right: 0.8rem;
    box-sizing: border-box;
}

.main-content__search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1.6rem 1.9rem;
    box-sizing: border-box;
}

.main-content__search-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 72.7rem;
    height: 2.9rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 0.1rem solid #C4C4C4;
    padding-left: 1rem;
    gap: 0.8rem;
}

.main-content__search-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid #C4C4C4;
    background-color: transparent;
}

.main-content__search-placeholder {
    font-size: 1rem;
    color: #888;
}

.main-content__recently-header {
    height: 4.7rem;
    background-color: #F5F6FC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.6rem;
    padding-right: 2.1rem;
}

.main-content__recently-header-title {
    font-weight: 400;
    font-size: 2rem;
}

.main-content__recently-header-icons {
    display: flex;
    gap: 1.1rem;
}

.main-content__recently-header-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: aqua;
}


.recent-files-header {
    height: 50px;
    background-color: #F5F6FC;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 20px;
}

.recent_title {
    font-size: 20px;
    font-weight: 400;
}

.recent_subtitle {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}



.Recent-files-header {
    height: 50px;
    background-color: #F5F6FC;
    display: flex;
    align-items: end;
    justify-content: space-between;
}



.share-header {
    height: 46px;
    background-color: #F5F6FC;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 20px;
    margin-bottom: 2px;
}

.share_title {
    font-size: 20px;
    font-weight: 400;
}

.share_subtitle {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

