.table-container {
    background-color: #F5F6FC;
    padding-left: 1.6rem;
    padding-right: 1.8rem;
    overflow-x: auto;
    box-sizing: border-box;
}


.table {
    width: 100%;
    max-width: 100rem;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    padding-top: 12px;
    box-sizing: border-box;
}


.table__header {
    display: block;
    margin-top: 16px;
}

.table__body {
    display: block;
}

.table__row {
    display: grid;
    grid-template-columns: 49.05% 23.54% 21.49% 5.87%;
    align-items: center;
    background: #FFFFFF;
    border-radius: 1rem;
    height: 4.2rem;
    padding-inline: 1rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
    margin-bottom: 1.6rem;
}

.table__row--header {
    background: transparent;
    box-shadow: none;
    height: auto;
    font-weight: 400;
    font-size: 1.2rem;
    padding-inline: 1rem;
    text-align: left;
}

.table__row--header th:nth-child(1),
.table__row--header th:nth-child(2),
.table__row--header th:nth-child(3) {
    color: #858A9D;
    font-weight: 400;
}



.table__cell {
    font-size: 1.2rem;
    color: #858A9D;
}


.table__name-group {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding-left: 1px;
}

.table__icon {
    width: 2.1rem;
    height: 2.1rem;
    background: #FF9F00;
    border-radius: 0.4rem;
}

.table__title {
    color: #343951;
}

.table__dots {
    width: 0.3rem;
    height: 1.3rem;
    opacity: 0.5;
    transform: rotate(90deg);
}