.infopanel {
    width: clamp(20rem, 24.5vw, 32rem);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #343951;
}


.infopanel__user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #27bd54;
    padding-top: 26px;
    padding-bottom: 22px;
}


.infopanel__icons {
    display: flex;
    gap: 1.3rem;
    padding-right: 6px;
}

.infopanel__icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.infopanel__info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.infopanel__name {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;

}

.infopanel__avatar {
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
    background: #c4c4c4;
}


.infopanel__storage__header {
    min-height: clamp(4.8rem, 8vh, 7.2rem);
    padding-inline: 3.2rem;
    display: flex;
    align-items: center;
    background: #d92525;
}

.infopanel__storage__header span {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.04rem;
    margin-top: -0.6rem;
}

.infopanel__storage-body {
    height: 193px;
    background-color: #29bca9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 1.9rem;
    padding-left: .5rem;
}

.storage-chart__ring {
    position: relative;
    width: 115px;
    height: 115px;
    background-color: rgb(97, 14, 138);
    border-radius: 50%;
    margin-bottom: 30px;
}

.storage-chart__ring img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.storage-chart__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.storage-chart__percentage {
    font-size: 2.4rem;
    font-weight: 400;
    color: #343951;
}

.storage-chart__label {
    font-size: 1.4rem;
    font-weight: 400;
    color: #888;
}

.storage-chart__footer {
    font-size: .8rem;
    font-weight: 400;
    color: #888;
}



.infopanel__storage-card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    height: 4.398rem;
    background-color: #F8FAFF;
    box-sizing: border-box;
    padding: 0 0.8rem 0 2.3rem;
    border-radius: 0.8rem;
    margin-bottom: 0.1rem;
    border: 0.1rem solid #E0E7F1;
}

.infopanel__storage-card-icon {
    flex-shrink: 0;
    width: 2.8rem;
    height: 2.8rem;
    background-color: orange;
    border-radius: 0.6rem;
}

.infopanel__storage-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5.3rem 0 0.7rem;
}

.infopanel__storage-card-title {
    font-size: 1rem;
    line-height: 1;
    color: #2B2F3D;
}

.infopanel__storage-card-subtitle {
    font-size: 0.8rem;
    line-height: 1;
    color: #7F86A0;
    margin-top: 0.1rem;
}

.infopanel__storage-card-button {
    width: 5.4rem;
    height: 2.1rem;
    font-size: 0.8rem;
    background-color: #902626;
    border: none;
    border-radius: 0.4rem;
    color: #2B2F3D;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infopanel__storage-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.4rem 0.9rem;
    background-color: #bc29b5;
}

